src/main/resources/xjc/medline/medline.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Source: https://github.com/lstern/psilibrary/blob/master/doc/medline/medline.xsd-->
<!--
     This is the Current DTD which NLM has written for
  External  Use.  If you are a NCBI User, use the information
  from the PubmedArticleSet.

  Comments and suggestions are welcome.
  (May 9, 2000)

  Corrections:
  ~~~~~~~~~~~
  Oct. 09 2002
  - "PubMedArticle" has been renamed to "PubmedArticle"
  - All referencies to "PubMedArticle" has been removed
  - "ProviderId" has been removed from PubmedData
  - "URL" has been removed from PubmdeData

  	$Id: pubmed_160101.dtd 480858 2015-10-05 15:12:19Z korobtch $

-->
<!-- ================================================================= -->
<!-- ================================================================= -->
<!-- Reference to Where the MEDLINECITATION DTD is located -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <!-- ================================================================= -->
  <xs:simpleType name="iso.language.codes">
    <xs:restriction base="xs:token">
      <xs:enumeration value="AF"/>
      <xs:enumeration value="AR"/>
      <xs:enumeration value="AZ"/>
      <xs:enumeration value="BG"/>
      <xs:enumeration value="CS"/>
      <xs:enumeration value="DA"/>
      <xs:enumeration value="DE"/>
      <xs:enumeration value="EN"/>
      <xs:enumeration value="EL"/>
      <xs:enumeration value="ES"/>
      <xs:enumeration value="FA"/>
      <xs:enumeration value="FI"/>
      <xs:enumeration value="FR"/>
      <xs:enumeration value="HE"/>
      <xs:enumeration value="HU"/>
      <xs:enumeration value="HY"/>
      <xs:enumeration value="IN"/>
      <xs:enumeration value="IS"/>
      <xs:enumeration value="IT"/>
      <xs:enumeration value="IW"/>
      <xs:enumeration value="JA"/>
      <xs:enumeration value="KA"/>
      <xs:enumeration value="KO"/>
      <xs:enumeration value="LT"/>
      <xs:enumeration value="MK"/>
      <xs:enumeration value="ML"/>
      <xs:enumeration value="NL"/>
      <xs:enumeration value="NO"/>
      <xs:enumeration value="PL"/>
      <xs:enumeration value="PT"/>
      <xs:enumeration value="PS"/>
      <xs:enumeration value="RO"/>
      <xs:enumeration value="RU"/>
      <xs:enumeration value="SL"/>
      <xs:enumeration value="SK"/>
      <xs:enumeration value="SQ"/>
      <xs:enumeration value="SR"/>
      <xs:enumeration value="SV"/>
      <xs:enumeration value="SW"/>
      <xs:enumeration value="TH"/>
      <xs:enumeration value="TR"/>
      <xs:enumeration value="UK"/>
      <xs:enumeration value="VI"/>
      <xs:enumeration value="ZH"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pub.status.int">
    <xs:restriction base="xs:token">
      <xs:enumeration value="pmc"/>
      <xs:enumeration value="pmcr"/>
      <xs:enumeration value="pubmed"/>
      <xs:enumeration value="pubmedr"/>
      <xs:enumeration value="premedline"/>
      <xs:enumeration value="medline"/>
      <xs:enumeration value="medliner"/>
      <xs:enumeration value="entrez"/>
      <xs:enumeration value="pmc-release"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pub.status">
    <xs:union memberTypes="pub.status.int">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="received"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="accepted"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="epublish"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="ppublish"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="revised"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="aheadofprint"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="retracted"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="ecollection"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="art.id.type.int">
    <xs:restriction base="xs:token">
      <xs:enumeration value="pubmed"/>
      <xs:enumeration value="medline"/>
      <xs:enumeration value="pmcid"/>
      <xs:enumeration value="pmcbook"/>
      <xs:enumeration value="bookaccession"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="art.id.type">
    <xs:union memberTypes="art.id.type.int">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="doi"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="pii"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="pmcpid"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="pmpid"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="pmc"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="mid"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="sici"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <!-- ================================================================= -->
  <xs:element name="PubmedArticleSet">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="PubmedArticle"/>
        <xs:element ref="PubmedBookArticle"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <!-- ================================================================= -->
  <!-- This is the top level element for PubMedArticle -->
  <xs:element name="PubmedArticle">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MedlineCitation"/>
        <xs:element minOccurs="0" ref="PubmedData"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- ================================================================= -->
  <xs:complexType name="normal.date">
    <xs:sequence>
      <xs:element ref="Year"/>
      <xs:element ref="Month"/>
      <xs:element ref="Day"/>
      <xs:sequence minOccurs="0">
        <xs:element ref="Hour"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="Minute"/>
          <xs:element minOccurs="0" ref="Second"/>
        </xs:sequence>
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PubmedData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="History"/>
        <xs:element ref="PublicationStatus"/>
        <xs:element ref="ArticleIdList"/>
        <xs:element minOccurs="0" ref="ObjectList"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PubMedPubDate">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="normal.date">
          <xs:attributeGroup ref="attlist.PubMedPubDate"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.PubMedPubDate">
    <xs:attribute name="PubStatus" use="required" type="pub.status"/>
  </xs:attributeGroup>
  <xs:element name="PublicationStatus" type="xs:string"/>
  <xs:element name="ArticleIdList">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ArticleId"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArticleId">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="attlist.ArticleId"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.ArticleId">
    <xs:attribute name="IdType" default="pubmed" type="art.id.type"/>
  </xs:attributeGroup>
  <xs:element name="History">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="PubMedPubDate"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="URL">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="attlist.URL"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.URL">
    <xs:attribute name="lang" type="iso.language.codes"/>
    <xs:attribute name="Type">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="FullText"/>
          <xs:enumeration value="Summary"/>
          <xs:enumeration value="fulltext"/>
          <xs:enumeration value="summary"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="ObjectList">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Object"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Object">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Param"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.Object"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.Object">
    <xs:attribute name="Type" use="required"/>
  </xs:attributeGroup>
  <xs:element name="Param">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="text">
          <xs:attributeGroup ref="attlist.Param"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.Param">
    <xs:attribute name="Name" use="required"/>
  </xs:attributeGroup>
  <xs:element name="Hour" type="xs:string"/>
  <xs:element name="Minute" type="xs:string"/>
  <xs:element name="Second" type="xs:string"/>

    <!--Declarando tudo que estava quebrando-->
    <xs:complexType name="text" mixed="true">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="format"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="PubmedBookArticle">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="BookDocument"/>
                <xs:element minOccurs="0" ref="PubmedBookData"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Year" type="xs:string"/>
    <xs:element name="Month" type="xs:string"/>
    <xs:element name="Day" type="xs:string"/>
    <xs:element name="BookDocumentSet">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="BookDocument"/>
                <xs:element minOccurs="0" ref="DeleteDocument"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PubmedBookData">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="History"/>
                <xs:element ref="PublicationStatus"/>
                <xs:element ref="ArticleIdList"/>
                <xs:element minOccurs="0" ref="ObjectList"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
  <!-- ================================================================= -->
  <!--Colocando o conteudo dos imports-->
    <xs:element name="format" abstract="true" type="text"/>
    <xs:element name="b" substitutionGroup="format"/>
    <!-- bold -->
    <xs:element name="i" substitutionGroup="format"/>
    <!-- italic -->
    <xs:element name="sup" substitutionGroup="format"/>
    <!-- superscript -->
    <xs:element name="sub" substitutionGroup="format"/>
    <!-- subscript -->
    <xs:element name="u" substitutionGroup="format"/>
    <!-- underline -->
    <!-- ================================================================= -->
    <xs:element name="MedlineCitationSet">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="MedlineCitation"/>
                <xs:element minOccurs="0" ref="DeleteCitation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="MedlineCitation">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="PMID"/>
                <xs:element ref="DateCreated"/>
                <xs:element minOccurs="0" ref="DateCompleted"/>
                <xs:element minOccurs="0" ref="DateRevised"/>
                <xs:element ref="Article"/>
                <xs:element ref="MedlineJournalInfo"/>
                <xs:element minOccurs="0" ref="ChemicalList"/>
                <xs:element minOccurs="0" ref="SupplMeshList"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="CitationSubset"/>
                <xs:element minOccurs="0" ref="CommentsCorrectionsList"/>
                <xs:element minOccurs="0" ref="GeneSymbolList"/>
                <xs:element minOccurs="0" ref="MeshHeadingList"/>
                <xs:element minOccurs="0" ref="NumberOfReferences"/>
                <xs:element minOccurs="0" ref="PersonalNameSubjectList"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="OtherID"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="OtherAbstract"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="KeywordList"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="SpaceFlightMission"/>
                <xs:element minOccurs="0" ref="InvestigatorList"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="GeneralNote"/>
            </xs:sequence>
            <xs:attributeGroup ref="attlist.MedlineCitation"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.MedlineCitation">
        <xs:attribute name="Owner" default="NLM">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="NLM"/>
                    <xs:enumeration value="NASA"/>
                    <xs:enumeration value="PIP"/>
                    <xs:enumeration value="KIE"/>
                    <xs:enumeration value="HSR"/>
                    <xs:enumeration value="HMD"/>
                    <xs:enumeration value="NOTNLM"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Status" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="Completed"/>
                    <xs:enumeration value="In-Process"/>
                    <xs:enumeration value="PubMed-not-MEDLINE"/>
                    <xs:enumeration value="In-Data-Review"/>
                    <xs:enumeration value="Publisher"/>
                    <xs:enumeration value="MEDLINE"/>
                    <xs:enumeration value="OLDMEDLINE"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="VersionID"/>
        <xs:attribute name="VersionDate"/>
    </xs:attributeGroup>
    <xs:element name="Abstract">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="AbstractText"/>
                <xs:element minOccurs="0" ref="CopyrightInformation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AbstractText">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="text">
                    <xs:attributeGroup ref="attlist.AbstractText"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.AbstractText">
        <xs:attribute name="Label"/>
        <xs:attribute name="NlmCategory">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="BACKGROUND"/>
                    <xs:enumeration value="OBJECTIVE"/>
                    <xs:enumeration value="METHODS"/>
                    <xs:enumeration value="RESULTS"/>
                    <xs:enumeration value="CONCLUSIONS"/>
                    <xs:enumeration value="UNASSIGNED"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:element name="AccessionNumber" type="xs:string"/>
    <xs:element name="AccessionNumberList">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="AccessionNumber"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Acronym" type="xs:string"/>
    <xs:element name="Affiliation" type="text"/>
    <xs:element name="AffiliationInfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Affiliation"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="Identifier"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Agency" type="xs:string"/>
    <xs:element name="Article">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Journal"/>
                <xs:element ref="ArticleTitle"/>
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="Pagination"/>
                        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ELocationID"/>
                    </xs:sequence>
                    <xs:element maxOccurs="unbounded" ref="ELocationID"/>
                </xs:choice>
                <xs:element minOccurs="0" ref="Abstract"/>
                <xs:element minOccurs="0" ref="AuthorList"/>
                <xs:element maxOccurs="unbounded" ref="Language"/>
                <xs:element minOccurs="0" ref="DataBankList"/>
                <xs:element minOccurs="0" ref="GrantList"/>
                <xs:element ref="PublicationTypeList"/>
                <xs:element minOccurs="0" ref="VernacularTitle"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ArticleDate"/>
            </xs:sequence>
            <xs:attributeGroup ref="attlist.Article"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.Article">
        <xs:attribute name="PubModel" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="Print"/>
                    <xs:enumeration value="Print-Electronic"/>
                    <xs:enumeration value="Electronic"/>
                    <xs:enumeration value="Electronic-Print"/>
                    <xs:enumeration value="Electronic-eCollection"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:element name="ArticleDate">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Year"/>
                <xs:element ref="Month"/>
                <xs:element ref="Day"/>
            </xs:sequence>
            <xs:attributeGroup ref="attlist.ArticleDate"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.ArticleDate">
        <xs:attribute name="DateType" default="Electronic">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Electronic"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:element name="ArticleTitle">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="text">
                    <xs:attributeGroup ref="attlist.ArticleTitle"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Author">
        <xs:complexType>
            <xs:sequence>
                <xs:choice>
                    <xs:sequence>
                        <xs:element ref="LastName"/>
                        <xs:element minOccurs="0" ref="ForeName"/>
                        <xs:element minOccurs="0" ref="Initials"/>
                        <xs:element minOccurs="0" ref="Suffix"/>
                    </xs:sequence>
                    <xs:element ref="CollectiveName"/>
                </xs:choice>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="Identifier"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="AffiliationInfo"/>
            </xs:sequence>
            <xs:attributeGroup ref="attlist.Author"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.Author">
        <xs:attribute name="ValidYN" default="Y">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="Y"/>
                    <xs:enumeration value="N"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:element name="AuthorList">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="Author"/>
            </xs:sequence>
            <xs:attributeGroup ref="attlist.AuthorList"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.AuthorList">
        <xs:attribute name="CompleteYN" default="Y">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="Y"/>
                    <xs:enumeration value="N"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Type" default="authors">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="authors"/>
                    <xs:enumeration value="editors"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:element name="Chemical">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="RegistryNumber"/>
                <xs:element ref="NameOfSubstance"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ChemicalList">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="Chemical"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CitationSubset" type="xs:string"/>
    <xs:element name="CollectiveName" type="text"/>
    <xs:element name="CommentsCorrections">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="RefSource"/>
                <xs:element minOccurs="0" ref="PMID"/>
                <xs:element minOccurs="0" ref="Note"/>
            </xs:sequence>
            <xs:attributeGroup ref="attlist.CommentsCorrections"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.CommentsCorrections">
        <xs:attribute name="RefType" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="AssociatedDataset"/>
                    <xs:enumeration value="AssociatedPublication"/>
                    <xs:enumeration value="CommentOn"/>
                    <xs:enumeration value="CommentIn"/>
                    <xs:enumeration value="ErratumIn"/>
                    <xs:enumeration value="ErratumFor"/>
                    <xs:enumeration value="PartialRetractionIn"/>
                    <xs:enumeration value="PartialRetractionOf"/>
                    <xs:enumeration value="RepublishedFrom"/>
                    <xs:enumeration value="RepublishedIn"/>
                    <xs:enumeration value="RetractionOf"/>
                    <xs:enumeration value="RetractionIn"/>
                    <xs:enumeration value="UpdateIn"/>
                    <xs:enumeration value="UpdateOf"/>
                    <xs:enumeration value="SummaryForPatientsIn"/>
                    <xs:enumeration value="OriginalReportIn"/>
                    <xs:enumeration value="ReprintOf"/>
                    <xs:enumeration value="ReprintIn"/>
                    <xs:enumeration value="Cites"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:element name="CommentsCorrectionsList">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="CommentsCorrections"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CopyrightInformation" type="xs:string"/>
    <xs:element name="Country" type="xs:string"/>
    <xs:element name="DataBank">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="DataBankName"/>
                <xs:element minOccurs="0" ref="AccessionNumberList"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DataBankList">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="DataBank"/>
            </xs:sequence>
            <xs:attributeGroup ref="attlist.DataBankList"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.DataBankList">
        <xs:attribute name="CompleteYN" default="Y">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="Y"/>
                    <xs:enumeration value="N"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:element name="DataBankName" type="xs:string"/>
    <xs:element name="DateCompleted">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Year"/>
                <xs:element ref="Month"/>
                <xs:element ref="Day"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DateCreated">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Year"/>
                <xs:element ref="Month"/>
                <xs:element ref="Day"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DateRevised">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Year"/>
                <xs:element ref="Month"/>
                <xs:element ref="Day"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DescriptorName">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="attlist.DescriptorName"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.DescriptorName">
        <xs:attribute name="MajorTopicYN" default="N">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="Y"/>
                    <xs:enumeration value="N"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Type">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="Geographic"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="UI" use="required"/>
    </xs:attributeGroup>
    <xs:element name="ELocationID">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="attlist.ELocationID"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.ELocationID">
        <xs:attribute name="EIdType" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="doi"/>
                    <xs:enumeration value="pii"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="ValidYN" default="Y">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="Y"/>
                    <xs:enumeration value="N"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:element name="EndPage" type="xs:string"/>
    <xs:element name="ForeName" type="xs:string"/>
    <xs:element name="GeneSymbol" type="xs:string"/>
    <xs:element name="GeneSymbolList">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="GeneSymbol"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GeneralNote">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="attlist.GeneralNote"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.GeneralNote">
        <xs:attribute name="Owner" default="NLM">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="NLM"/>
                    <xs:enumeration value="NASA"/>
                    <xs:enumeration value="PIP"/>
                    <xs:enumeration value="KIE"/>
                    <xs:enumeration value="HSR"/>
                    <xs:enumeration value="HMD"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:element name="Grant">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="GrantID"/>
                <xs:element minOccurs="0" ref="Acronym"/>
                <xs:element ref="Agency"/>
                <xs:element ref="Country"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GrantID" type="xs:string"/>
    <xs:element name="GrantList">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="Grant"/>
            </xs:sequence>
            <xs:attributeGroup ref="attlist.GrantList"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.GrantList">
        <xs:attribute name="CompleteYN" default="Y">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="Y"/>
                    <xs:enumeration value="N"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:element name="Identifier">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="attlist.Identifier"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.Identifier">
        <xs:attribute name="Source" use="required"/>
    </xs:attributeGroup>
    <xs:element name="ISOAbbreviation" type="xs:string"/>
    <xs:element name="ISSN">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="attlist.ISSN"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.ISSN">
        <xs:attribute name="IssnType" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="Electronic"/>
                    <xs:enumeration value="Print"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:element name="ISSNLinking" type="xs:string"/>
    <xs:element name="Initials" type="xs:string"/>
    <xs:element name="Investigator">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="LastName"/>
                <xs:element minOccurs="0" ref="ForeName"/>
                <xs:element minOccurs="0" ref="Initials"/>
                <xs:element minOccurs="0" ref="Suffix"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="Identifier"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="AffiliationInfo"/>
            </xs:sequence>
            <xs:attributeGroup ref="attlist.Investigator"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.Investigator">
        <xs:attribute name="ValidYN" default="Y">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="Y"/>
                    <xs:enumeration value="N"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:element name="InvestigatorList">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="Investigator"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Issue" type="xs:string"/>
    <xs:element name="Journal">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="ISSN"/>
                <xs:element ref="JournalIssue"/>
                <xs:element minOccurs="0" ref="Title"/>
                <xs:element minOccurs="0" ref="ISOAbbreviation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="JournalIssue">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="Volume"/>
                <xs:element minOccurs="0" ref="Issue"/>
                <xs:element ref="PubDate"/>
            </xs:sequence>
            <xs:attributeGroup ref="attlist.JournalIssue"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.JournalIssue">
        <xs:attribute name="CitedMedium" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="Internet"/>
                    <xs:enumeration value="Print"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:element name="Keyword">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="text">
                    <xs:attributeGroup ref="attlist.Keyword"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.Keyword">
        <xs:attribute name="MajorTopicYN" default="N">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="Y"/>
                    <xs:enumeration value="N"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:element name="KeywordList">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="Keyword"/>
            </xs:sequence>
            <xs:attributeGroup ref="attlist.KeywordList"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.KeywordList">
        <xs:attribute name="Owner" default="NLM">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="NLM"/>
                    <xs:enumeration value="NLM-AUTO"/>
                    <xs:enumeration value="NASA"/>
                    <xs:enumeration value="PIP"/>
                    <xs:enumeration value="KIE"/>
                    <xs:enumeration value="NOTNLM"/>
                    <xs:enumeration value="HHS"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:element name="Language" type="xs:string"/>
    <xs:element name="LastName" type="xs:string"/>
    <xs:element name="MedlineDate" type="xs:string"/>
    <xs:element name="MedlineJournalInfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="Country"/>
                <xs:element ref="MedlineTA"/>
                <xs:element minOccurs="0" ref="NlmUniqueID"/>
                <xs:element minOccurs="0" ref="ISSNLinking"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="MedlinePgn" type="xs:string"/>
    <xs:element name="MedlineTA" type="xs:string"/>
    <xs:element name="MeshHeading">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="DescriptorName"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="QualifierName"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="MeshHeadingList">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="MeshHeading"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="NameOfSubstance">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="attlist.NameOfSubstance"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.NameOfSubstance">
        <xs:attribute name="UI" use="required"/>
    </xs:attributeGroup>
    <xs:element name="NlmUniqueID" type="xs:string"/>
    <xs:element name="Note" type="xs:string"/>
    <xs:element name="NumberOfReferences" type="xs:string"/>
    <xs:element name="OtherAbstract">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="AbstractText"/>
                <xs:element minOccurs="0" ref="CopyrightInformation"/>
            </xs:sequence>
            <xs:attributeGroup ref="attlist.OtherAbstract"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.OtherAbstract">
        <xs:attribute name="Type" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="AAMC"/>
                    <xs:enumeration value="AIDS"/>
                    <xs:enumeration value="KIE"/>
                    <xs:enumeration value="PIP"/>
                    <xs:enumeration value="NASA"/>
                    <xs:enumeration value="Publisher"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Language" default="eng"/>
    </xs:attributeGroup>
    <xs:element name="OtherID">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="attlist.OtherID"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.OtherID">
        <xs:attribute name="Source" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="NASA"/>
                    <xs:enumeration value="KIE"/>
                    <xs:enumeration value="PIP"/>
                    <xs:enumeration value="POP"/>
                    <xs:enumeration value="ARPL"/>
                    <xs:enumeration value="CPC"/>
                    <xs:enumeration value="IND"/>
                    <xs:enumeration value="CPFH"/>
                    <xs:enumeration value="CLML"/>
                    <xs:enumeration value="NRCBL"/>
                    <xs:enumeration value="NLM"/>
                    <xs:enumeration value="QCIM"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:element name="PMID">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="attlist.PMID"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.PMID">
        <xs:attribute name="Version" use="required"/>
    </xs:attributeGroup>
    <xs:element name="Pagination">
        <xs:complexType>
            <xs:choice>
                <xs:sequence>
                    <xs:element ref="StartPage"/>
                    <xs:element minOccurs="0" ref="EndPage"/>
                    <xs:element minOccurs="0" ref="MedlinePgn"/>
                </xs:sequence>
                <xs:element ref="MedlinePgn"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="PersonalNameSubject">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="LastName"/>
                <xs:element minOccurs="0" ref="ForeName"/>
                <xs:element minOccurs="0" ref="Initials"/>
                <xs:element minOccurs="0" ref="Suffix"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PersonalNameSubjectList">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="PersonalNameSubject"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PubDate">
        <xs:complexType>
            <xs:choice>
                <xs:sequence>
                    <xs:element ref="Year"/>
                    <xs:choice minOccurs="0">
                        <xs:sequence>
                            <xs:element ref="Month"/>
                            <xs:element minOccurs="0" ref="Day"/>
                        </xs:sequence>
                        <xs:element ref="Season"/>
                    </xs:choice>
                </xs:sequence>
                <xs:element ref="MedlineDate"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="PublicationType">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="attlist.PublicationType"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.PublicationType">
        <xs:attribute name="UI" use="required"/>
    </xs:attributeGroup>
    <xs:element name="PublicationTypeList">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="PublicationType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="QualifierName">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="attlist.QualifierName"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.QualifierName">
        <xs:attribute name="MajorTopicYN" default="N">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="Y"/>
                    <xs:enumeration value="N"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="UI" use="required"/>
    </xs:attributeGroup>
    <xs:element name="RefSource" type="xs:string"/>
    <xs:element name="RegistryNumber" type="xs:string"/>
    <xs:element name="Season" type="xs:string"/>
    <xs:element name="SpaceFlightMission" type="xs:string"/>
    <xs:element name="StartPage" type="xs:string"/>
    <xs:element name="Suffix" type="text"/>
    <xs:element name="SupplMeshList">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="SupplMeshName"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SupplMeshName">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="attlist.SupplMeshName"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.SupplMeshName">
        <xs:attribute name="Type" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="Disease"/>
                    <xs:enumeration value="Protocol"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="UI" use="required"/>
    </xs:attributeGroup>
    <xs:element name="Title" type="xs:string"/>
    <xs:element name="VernacularTitle" type="text"/>
    <xs:element name="Volume" type="xs:string"/>
    <xs:element name="DeleteCitation">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="PMID"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="booklinkatts">
        <xs:attribute name="book"/>
        <xs:attribute name="part"/>
        <xs:attribute name="sec"/>
    </xs:attributeGroup>
    <xs:element name="BookDocument">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="PMID"/>
                <xs:element ref="ArticleIdList"/>
                <xs:element ref="Book"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="LocationLabel"/>
                <xs:element minOccurs="0" ref="ArticleTitle"/>
                <xs:element minOccurs="0" ref="VernacularTitle"/>
                <xs:element minOccurs="0" ref="Pagination"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="Language"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="AuthorList"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="PublicationType"/>
                <xs:element minOccurs="0" ref="Abstract"/>
                <xs:element minOccurs="0" ref="Sections"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="KeywordList"/>
                <xs:element minOccurs="0" ref="ContributionDate"/>
                <xs:element minOccurs="0" ref="DateRevised"/>
                <xs:element minOccurs="0" ref="CitationString"/>
                <xs:element minOccurs="0" ref="GrantList"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ItemList"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Book">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Publisher"/>
                <xs:element ref="BookTitle"/>
                <xs:element ref="PubDate"/>
                <xs:element minOccurs="0" ref="BeginningDate"/>
                <xs:element minOccurs="0" ref="EndingDate"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="AuthorList"/>
                <xs:element minOccurs="0" ref="Volume"/>
                <xs:element minOccurs="0" ref="VolumeTitle"/>
                <xs:element minOccurs="0" ref="Edition"/>
                <xs:element minOccurs="0" ref="CollectionTitle"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="Isbn"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ELocationID"/>
                <xs:element minOccurs="0" ref="Medium"/>
                <xs:element minOccurs="0" ref="ReportNumber"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Publisher">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="PublisherName"/>
                <xs:element minOccurs="0" ref="PublisherLocation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PublisherName" type="text"/>
    <xs:element name="PublisherLocation" type="xs:string"/>
    <xs:element name="BookTitle">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="text">
                    <xs:attributeGroup ref="attlist.BookTitle"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.BookTitle">
        <xs:attributeGroup ref="booklinkatts"/>
    </xs:attributeGroup>
    <xs:element name="ContributionDate">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Year"/>
                <xs:choice minOccurs="0">
                    <xs:sequence>
                        <xs:element ref="Month"/>
                        <xs:element minOccurs="0" ref="Day"/>
                    </xs:sequence>
                    <xs:element ref="Season"/>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="BeginningDate">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Year"/>
                <xs:choice minOccurs="0">
                    <xs:sequence>
                        <xs:element ref="Month"/>
                        <xs:element minOccurs="0" ref="Day"/>
                    </xs:sequence>
                    <xs:element ref="Season"/>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="EndingDate">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Year"/>
                <xs:choice minOccurs="0">
                    <xs:sequence>
                        <xs:element ref="Month"/>
                        <xs:element minOccurs="0" ref="Day"/>
                    </xs:sequence>
                    <xs:element ref="Season"/>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="VolumeTitle" type="text"/>
    <xs:element name="Edition" type="xs:string"/>
    <xs:element name="CollectionTitle">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="text">
                    <xs:attributeGroup ref="attlist.CollectionTitle"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.CollectionTitle">
        <xs:attributeGroup ref="booklinkatts"/>
    </xs:attributeGroup>
    <xs:element name="Isbn" type="xs:string"/>
    <xs:element name="Medium" type="xs:string"/>
    <xs:element name="ReportNumber" type="xs:string"/>
    <xs:element name="ContractNumber" type="xs:string"/>
    <xs:element name="CitationString" type="text"/>
    <xs:attributeGroup name="attlist.ArticleTitle">
        <xs:attributeGroup ref="booklinkatts"/>
    </xs:attributeGroup>
    <xs:element name="LocationLabel">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="attlist.LocationLabel"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.LocationLabel">
        <xs:attribute name="Type">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="part"/>
                    <xs:enumeration value="chapter"/>
                    <xs:enumeration value="section"/>
                    <xs:enumeration value="appendix"/>
                    <xs:enumeration value="figure"/>
                    <xs:enumeration value="table"/>
                    <xs:enumeration value="box"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:element name="DeleteDocument">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="PMID"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Sections">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="Section"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Section">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="LocationLabel"/>
                <xs:element ref="SectionTitle"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="Section"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SectionTitle">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="text">
                    <xs:attributeGroup ref="attlist.SectionTitle"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.SectionTitle">
        <xs:attributeGroup ref="booklinkatts"/>
    </xs:attributeGroup>
    <xs:element name="PubmedBookArticleSet">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="PubmedBookArticle"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ItemList">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="Item"/>
            </xs:sequence>
            <xs:attributeGroup ref="attlist.ItemList"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.ItemList">
        <xs:attribute name="ListType" use="required"/>
    </xs:attributeGroup>
    <xs:element name="Item" type="xs:string"/>
</xs:schema>
<!-- ================================================================= -->
